{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "insertPragma": false,
        "requirePragma": false,
        "proseWrap": "preserve"
      }
    }
  ]
}
