services:
  php:
    volumes:
      - .:/var/www/html
      - ./var:/var/www/html/var
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      DATABASE_URL: '${DATABASE_URL:-sqlite:///%kernel.project_dir%/var/data_dev.db}'
    networks:
      - internal

  nginx:
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - internal
      - external

  node:
    image: node:20-alpine
    container_name: '${APP_NAME:-unisurf}_node'
    hostname: node
    working_dir: /app
    volumes:
      - .:/app
    command: sh -c "yarn install --immutable && yarn encore dev-server --host 0.0.0.0 --port 8080 --hot --public http://127.0.0.1:8080"
    ports:
      - '${NODE_PORT:-8080}:8080'
    networks:
      - internal

  mailer:
    image: axllent/mailpit
    container_name: '${APP_NAME:-unisurf}_mailer'
    hostname: mailer
    restart: unless-stopped
    ports:
      - '${MAILER_SMTP_PORT:-1025}:1025'
      - '${MAILER_WEB_PORT:-8025}:8025'
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - internal
      - external

networks:
  internal:
  external:
    driver: bridge
