parameters:
    level: 6
    ignoreErrors:
        # Doctrine generated IDs are assigned by the ORM at persist/flush time
        -
            identifier: property.unusedType
            message: '#^Property .+::\$id .+ is never assigned int#'
